<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" color="dark" routerLink="/home">
      <ion-icon name="backspace-outline"></ion-icon>
    </ion-button>
    <ion-title>Listpokemon</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar
      placeholder="Search pokemon "
      [(ngModel)]="Filter"
      animated="true"
    ></ion-searchbar>
    <ion-content> </ion-content>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br />
  <ion-item>
    <h3></h3>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-list>
        <ion-col
          size-xl="3"
          size-md="6"
          size-xs="12"
          *ngFor=" let p of pokemonDetail | filter: Filter"
        >
          <ion-card>
            <img [src]="p.sprites.front_default" />
            <ion-card-header>
              <ion-card-title>{{p.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{p.types[0].type.name}}</ion-card-content>
          </ion-card>
        </ion-col>

        <ion-infinite-scroll
          threshold="100px"
          (ionInfinite)="loadData($event)"
          [disabled]="numTimesLeft <= 0"
        >
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
          >
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
